<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/shop.css">
</head>

<body>
    <div class="container">
        <div class="shop-car">
            <div class="title">
                <h4 class="text-center f18">购物车</h4>
            </div>
            <div class="shop-box">
                <div class="box-head clearfix">
                    <div class="col-md-5 list">商品信息</div>
                    <div class="col-md-2 list">商品金额</div>
                    <div class="col-md-2 list">商品数量</div>
                    <div class="col-md-2 list">总金额</div>
                    <div class="col-md-1 list">编辑</div>
                </div>
                <div class="box-cont">
                    <div class="shop-list clearfix">
                        <div class="col-md-5 shop">
                            <div class="clearfix">
                                <div class="checkbox pull-left">
                                    <label>
                                        <input type="checkbox">
                                    </label>
                                </div>
                                <div class="pull-left">
                                    <a href="javascript:void(0)" class="dis-block pull-left shop-img">
								  		<img src="../imgs/phone.jpg" alt="">
								  	</a>
                                    <div class="pull-left shop-info f12">
                                    	<p>苹果7【12期分期送壳膜】Apple/苹果 iPhone 7 全网通国行4G手机</p>
                                    	<div>
                                    		<label>赠送：</label>
                                    		<span>12期分期 送壳膜 正品国行</span>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 price">
                        	￥19.00
                        </div>
                        <div class="col-md-2 num text-center">
                        	<span>-</span>
                        	<span class="bd-gray">2</span>
                        	<span>+</span>
                        </div>
                        <div class="col-md-2 price">
                        	￥19000.00
                        </div>
                        <div class="col-md-1 operate text-center">
                        	<button class="btn btn-white btn-sm">删除</button>
                        </div>
                    </div>
                    <div class="shop-list clearfix">
                        <div class="col-md-5 shop">
                            <div class="clearfix">
                                <div class="checkbox pull-left">
                                    <label>
                                        <input type="checkbox">
                                    </label>
                                </div>
                                <div class="pull-left">
                                    <a href="javascript:void(0)" class="dis-block pull-left shop-img">
								  		<img src="../imgs/phone.jpg" alt="">
								  	</a>
                                    <div class="pull-left shop-info f12">
                                    	<p>苹果7【12期分期送壳膜】Apple/苹果 iPhone 7 全网通国行4G手机</p>
                                    	<div>
                                    		<label>赠送：</label>
                                    		<span>12期分期 送壳膜 正品国行</span>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 price">
                        	￥19.00
                        </div>
                        <div class="col-md-2 num text-center">
                        	<span><i class="c-p">-</i></span>
                        	<span class="bd-gray">2</span>
                        	<span><i class="c-p">+</i></span>
                        </div>
                        <div class="col-md-2 price">
                        	￥19000.00
                        </div>
                        <div class="col-md-1 operate text-center">
                        	<button class="btn btn-white btn-sm">删除</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="shop-bar">
            	<div class="checkbox pull-left">
            	    <label>
            	        <input type="checkbox">&nbsp;全选取消全选
            	    </label>
            	</div>
            	<div class="total-count pull-right">
            		<span>总计：￥12000.00</span>
            		<button class="btn btn-md">结账</button>
            	</div>
            </div>
        </div>
    </div>
</body>

</html>