<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>头部、脚步</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/commen.css">
</head>
<body>
	<header class="test-header">
		<div class="container clearfix">
			<div>				
				<a href="javascript:void(0)" class="logo">
					<img src="../imgs/logo.png" alt="" width="181" height="46">
				</a>
				<ul class="tab clearfix pull-left">
					<li><a class="link" href="javascript:void(0)">首页</a></li>
					<li><a class="link" href="javascript:void(0)">职位</a></li>
					<li><a class="link" href="javascript:void(0)">我的简历</a></li>
				</ul>
				<div class="operate pull-right">
					<div class="register-login">
						<a href="javascript:void(0);" class="btn btn-md btn-orange">求职者登录</a>
						<a href="javascript:void(0);" class="btn btn-md btn-orange">求职者注册</a>
					</div>
					<div>					
					</div>
				</div>
				
			</div>
		</div>
	</header>


	<footer class="test-footer">
		<div class="container">
			<div class="copy-right">
				<p class="t-c-f f14">沪ICP备14042884号-7  Copyright © 2015-2020  领猎网络科技（上海）有限公司 版权所有</p>
			</div>
		</div>
	</footer>
	
</body>
</html>