<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/angular.js"></script>
    <script>
       var app = angular.module('myApp',[]);
       app.controller('indexCtrl',function($scope) {
            $scope.test = function() {
                 console.info($scope.userForm);
                if($scope.userForm.$valid){                    
                    alert('注册成功！')
                }                
            }
       })
    </script>

</head>
<body>
    <div ng-controller="indexCtrl">
        <form name='userForm' novalidate>
            <label>用户名</label><input type="text" id="username" ng-model="username" name='name' ng-required="true">
            <span ng-if="username.length>16 || username.length<6">用户名长度6-16位</span>
            <button ng-click='test()' type='button'>点击</button>            
        </form>
        
        
    </div>
</body>
</html>