<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../js/pulgin/bootstrap/css/bootstrap.min.css">

    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/pulgin/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/angular.js"></script>

    <style>
        .setBox {
            width:400px;
            margin:0 auto;
            margin-top: 50px;
            border:1px solid #0f0f0f;
            padding-top:30px;
            border-radius: 8px;
        }
        .error {
            color:red;
        }
    </style>

    <script>
        var app = angular.module('myApp', []);
        app.controller('formCtrl', function($scope) {
            $scope.submitForm = function(isValid) {
                if (isValid) {
                    alert('注册成功！');
                }
            };

        });
    </script>
</head>
<body>
<div class="container setBox" ng-controller="formCtrl">
    <form class="form-horizontal" role="form" name="userForm" novalidate ng-submit="submitForm(userForm.$valid)">
       <!--输入用户名-->
        <div class="form-group">
            <label for="userName" class="col-sm-3 control-label">用户名:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="userName" placeholder="请输入用户名" ng-model="name" name="userName" ng-required="true" ng-minlength="6" ng-maxlength="16" ng-pattern="/^\w/">
                <div class="error" ng-if="userForm.userName.$dirty && userForm.userName.$invalid" >
                    <p ng-if="userForm.userName.$error.required">用户名不能为空</p>
                    <p ng-if="userForm.userName.$error.minlength || userForm.userName.$error.maxlength">用户名长度为6-16位</p>
                    <p ng-if="userForm.userName.$error.pattern">用户名开头必须为数字、字母、下划线</p>
                </div>
            </div>
        </div>
        <!--输入密码-->
        <div class="form-group">
            <label for="inputPassword" class="col-sm-3 control-label">密码:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword" placeholder="请输入密码" ng-model="pass" name="pass" ng-required="true" ng-minlength="6" ng-maxlength="16">
                <div class="error" ng-if="userForm.pass.$dirty && userForm.pass.$invalid">
                    <p ng-if="userForm.pass.$error.required">密码不能为空</p>
                    <p ng-if="userForm.pass.$error.minlength || userForm.pass.$error.maxlength">密码长度为6-16位</p>
                </div>
            </div>
        </div>
        <!--再次输入密码-->
        <div class="form-group">
            <label for="checkPassword" class="col-sm-3 control-label">重复密码:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="checkPassword" placeholder="请再次输入密码" ng-model="checkPass" name="checkPassword" ng-required="true">

                <div class="error" ng-if="userForm.checkPassword.$dirty && userForm.pass.$valid">
                    <p ng-if="checkPass != pass">两次密码不一致</p>
                </div>

            </div>
        </div>
        <!--输入手机号-->
        <div class="form-group">
            <label for="phoneNum" class="col-sm-3 control-label">手机号:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="phoneNum" placeholder="请输入手机号" ng-model="phone" name="phoneNum" ng-required="true" ng-pattern="/^1[3|8|9|7|5]\d{9}$/">
                <div class="error" ng-if="userForm.phoneNum.$dirty && userForm.phoneNum.$invalid" >
                    <p ng-if="userForm.phoneNum.$error.pattern">手机号格式不正确</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">注册</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>