<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>待办事项</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/todo.css">
		
</head>
<body>	
	<div id="app">
		<div class="my-to-do">
			<h2>我的代办事项</h2>
			<div class="cont">
				<h4>添加小目标</h4>
				<div class="form-group">
					<input type="text" class="form-control big-size" placeholder="输入人小目标后，按回车确认" 
						v-model="taskText"
						@keyup.enter="setTask()">
				</div>
				<p>共有{{totalNum}}个目标，已完成{{completedNum}}个，还有{{totalNum - completedNum}}条未完成</p>
				<div class="to-do-radio">
					<div class="checkbox dis-inBlock">
						<label>
							<input type="radio" @click="chooseType(1)" name="taskRadio">&nbsp;所有目标
						</label>
					</div>
					<div class="checkbox dis-inBlock">
						<label>
							<input type="radio" @click="chooseType(2)" name="taskRadio">&nbsp;已完成目标
						</label>
					</div>
					<div class="checkbox dis-inBlock">
						<label>
							<input type="radio" @click="chooseType(3)" name="taskRadio">&nbsp;未完成目标
						</label>
					</div>
				</div>
				<div class="cont-list">
					<div class="to-do-list" v-for="(value, key) in todoList">
						<div class="view clearfix" v-show="value.view">
							<div class="checkbox pull-left">
								<input type="checkbox" v-model="value.completed">
								<label @dblclick="editTask(key)">
									&nbsp;{{value.content}}
								</label>
							</div>
							<div class="pull-right"><button class="btn btn-danger" @click="deleteTask(key)">X</button></div>
						</div>
						<div class="edit" v-show="!value.view">
							<input type="text" class="form-control" 
								v-model="value.editCont"
								@blur="changeTask(key)"
								@keyup.enter="changeTask(key)"
								@keyup.esc="cancelEdit(key)"
								v-autofocus="!value.view">
						</div>
					</div>					
				</div>
			</div>
			
		</div>
	</div>

	<script src="js/vue.js"></script>
	<script>
		const log = console.log;
		var app = new Vue({
			el: '#app',
			data: {
				taskText: "",
				showBtn: false,
				proList: [
					{
						content: '早起早睡',
						completed: false,
						view: true,
						editCont: '早起早睡'
					},
					{
						content: '多读书',
						completed: false,
						view: true,
						editCont: '多读书'
					},
					{
						content: '多学习',
						completed: false,
						view: true,
						editCont: '多学习'
					},
					{
						content: '多锻炼',
						completed: false,
						view: true,
						editCont: '多锻炼'
					},
				],
				todoList: []
			},			
			computed: {
				//总共任务数量
				totalNum() {
					return this.proList.length;
				},
				//已完成的任务数量
				completedNum() {
					let num = 0;
					this.proList.forEach( (val, key) => {
						if (val.completed) {
							num ++ ;
						}
					} )

					return num;
				},
				//未完成的数量
				todoNum() {}
			},
			methods: {
				//设置任务
				setTask() {
					
					let data = {
						content: this.taskText,
						completed: false,
						view: true,
						editCont: this.taskText
					}
					this.todoList.push(data);
					this.taskText = '';
				},
				//删除任务
				deleteTask(key) {
					this.todoList.splice(key, 1)
				},
				//编辑任务：
				editTask(key) {
					this.todoList[key].view = false;
				},
				//修改任务
				changeTask(key) {					
					this.todoList[key].content = this.todoList[key].editCont;
					this.todoList[key].view = true;
				},
				cancelEdit(key) {
					this.todoList[key].view = true;					
					this.todoList[key].editCont = this.todoList[key].content;
				},
				//选择任务类型
				chooseType(type) {
					var completed = this.proList.filter( function(item) { return item.completed } ),
						not = this.proList.filter( function(item) { return !item.completed } ),
						all = {
							1: this.proList,
							2: completed,
							3: not
						}
					console.log(all)

					this.todoList = all[type] ? all[type] : [];

				}				

			},
			directives: {
				//失去焦点
				autofocus: {
					update(el, value) {
						value && el.focus()
					}
				}
			},
			mounted() {
				this.todoList = this.proList;
			}
			
		})
	</script>
</body>
</html>