* {
	margin: 0;
	padding: 0;
}
.home {
	width: 800px;
	margin: 0 auto;
}
.home-title {
	font-size: 16px;
	padding-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.home-tab {
	overflow: hidden;
	border-radius: 4px;
	margin-bottom: 20px;
}
.home-tab li{
	float: left;
	list-style: none
}

.home-tab li a{
	display: block;
	padding: 8px 10px;
	font-size: 14px;
	color: white;
	background: #ff6b00;
}