<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8" >
    <title></title>
    <script src="../js/angular.js"></script>
    <script>

        var app = angular.module('myApp',[]);

        app.controller('indexCtrl',function ($scope) {
            $scope.dataArr = {
                name: 'xjh',
                age: 16,
                sex: '男'
            };

            $scope.industry = {
                1: '锄禾',
                6: '王明月',
                5: '巨头', 
                2: '日當午',
                3: '旱地',
                4: '禾下土'                               
            }

            //还是不行的
            // $scope.keys = Object.keys($scope.industry);

            // console.dir($scope.keys)



            $scope.data = ['龙之谷', '王者农药', '火隐忍者', '英雄联盟'];

        });
        
    </script>
</head>
<body ng-controller="indexCtrl">

    <ul>
        <li ng-repeat="(key, value) in data track by $id">这是key:{{key}}&nbsp;&nbsp;&nbsp;这是value {{value}}</li>
    </ul>
    <div ng-repeat-start="(key, value) in dataArr">{{value}}</div>
    <div ng-repeat-end>{{key}}</div>

    <div class="box">
        <i ng-repeat="item in keys">{{industry[item]}}</i>
    </div>

    

</body>
</html>