/* a 默认样式 */

a {
    color: #333;
}
a:link {
   color: #333; 
}
a:visited {
    color: #333;
}
a:hover,
a.active {
    color: #ff6b00;
}



a.default:hover {
    color: #333;
}


/* a 连接样式 */

a.link {
    color: #ff6b00;
}

a.link:hover,
a.link.active {
    text-decoration: underline;
}

a.link-del {
    color: #ff5050;
}

a.link-del:hover,
a.link-del.active {
    text-decoration: underline;
}
a.blue-216:link {
    color: #2162C8
}
a.blue-216:visited {
    color: #2162C8
}
a.blue-216:hover {
    color: #ff6b00
}

a.blue-216:active {
    color: #ff6b00
}

/* 元素类型 */
.dis-block {
    display: block !important;
}
.dis-none {
    display:none !important; 
}
.dis-inBlock {
    display: inline-block !important;
}
/* 元素i、select、input、textarea、button */

select {
    line-height: 24px !important;
    height: 30px !important;
    padding: 4px 2px !important;
    border: 1px solid #dbdbdb;
    border-radius: 0 !important;
    outline: none;
}

input {
    line-height: 24px !important;
    display: inline-block;
    overflow: hidden;
    height: 30px !important;
    padding: 4px 6px !important;
    transition: border .2s linear 0s, box-shadow .2s linear 0s;
    transition: none;
    vertical-align: middle;
    color: #333;
    border: 1px solid #dbdbdb;
    border-radius: 0 !important;
    outline: none;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
}

input.input-md {
    font-size: 16px;
    line-height: 34px !important;
    height: 40px !important;
    padding: 4px 6px !important;
}

input.input-lg {
    font-size: 18px;
    line-height: 40px !important;
    height: 46px !important;
    padding: 4px 6px !important;
}

.form-control[readonly] {
    opacity: 1;
    background-color: #f5f5f5;
}
.form-control.readonly {
    opacity: 1;
    background-color: #fff;
    cursor: pointer;
}
.form-control[disabled] {
    opacity: 1;
    background-color: #f6f6f6;
}

.form-control.error {
     border: 1px solid #ff5050; 
     box-shadow: none;
}


/* 去掉边框阴影-ie10有样式问题 */
.form-control {
    transition: none;
    box-shadow: none;   
}

.form-control:focus {
    box-shadow: none
}

/*input icon*/

.has-feedback input.form-control {
    padding-right: 36px !important;
}

.form-control-feedback {
    line-height: 30px;
    width: 30px;
    height: 30px;
}

.feedback-left input.form-control {
    padding: 6px 6px 6px 40px !important;
    /* transition: none;  */
}

.feedback-left .form-control-feedback {
    left: 0;
    
}

.feedback-left i.form-control-feedback {
    top: 0 ;
} 

.input-md + .form-control-feedback {
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
}

.input-lg + .form-control-feedback {
    font-size: 20px;
    line-height: 46px;
    width: 46px;
    height: 46px;
}


/* input btn*/

.input-group-btn .btn {
    font-size: 14px;
    height: 30px;
    padding: 0 10px;
    color: #666;
    border-color: #dbdbdb;
    border-radius: 0;
}

.input-group-btn .btn i {
    line-height: 28px;
    height: 28px;
}

.input-md ~ .input-group-btn > .btn {
    height: 40px;
    padding: 0 10px;
    border-radius: 0;
}

.input-md ~ .input-group-btn > .btn i {
    line-height: 40px;
    min-width: 20px;
    height: 40px;
}

.input-group-btn .btn:hover,
.input-group-btn .btn.active {
    background: #f6f6f6;
}

.input-group-btn .btn.active:hover {
    background: #ededed;
}

.input-blue {
    border: 2px solid #dbdbdb;
    border-right: none;
}

.input-blue ~ .input-group-btn > .btn {
    font-size: 18px;
    height: 46px;
    padding: 0 30px;
    color: #fff;
    border: none;
    border-radius: 0;
    background: #ff6b00;
}

.input-blue ~ .input-group-btn > .btn:hover {
    z-index: auto;
    border: none;
    background: #ff6b00;
}


/* 单选 多选 */

input[type='checkbox'],
input[type='radio'] {
    line-height: 22px !important;
    position: inherit !important;
    display: inline-block;
    height: auto !important;
    margin-top: auto;
    padding: 0 !important;
    border: none;
}

.checkbox,
.radio {
    line-height: 22px !important;
    height: 22px;
}


/* 文本框 */

textarea {
    overflow-y: auto;
    padding: 4px 6px !important;
    resize: none;
    transition: border .2s linear 0s, box-shadow .2s linear 0s;
    color: #333;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
    height: 120px; 
}

textarea:focus {
    outline: 0 none;
}


/*     公用样式
*==================================================================
*/

.container {
    width: 1160px !important;
    margin: 0 auto;
    padding: 0;
}

.width1160 {
    width: 1160px !important;
}


.width280 {
    width: 280px !important;
}
.width210 {
    width: 210px !important;

}

.width850 {
    width: 850px !important;
}

.width200OK {
    width: 200px !important; 
}

.width200 {
    width: 262px !important; /* 千万别用，坑 */
}

.width930 {
    width: 930px !important;
}

.width95 {
    width: 95px !important;
}
.width72 {
    width: 72px !important;
}
.width89 {
    width: 120px !important;/* 千万别用，坑 */
}
.width165 {
    width: 165px !important;
}
.width175 {
    width: 175px !important;
}

.width304 {
    width: 304px !important;
}
.width330 {
    width: 330px !important;
}
.width463 {
    width: 463px !important;
}
.width525 {
    width: 525px !important;
}

.border-none {
    border: none !important;
}

/*定位*/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}


/* 居中 */

.m-c {
    margin: 0 auto !important;
}

/* 居中 */
.takeCenter {
    margin: 0 auto;
}

/* 对齐方式 */

.t-c-f {
    text-align: center !important;
}

.t-l-f {
    text-align: left !important;
}

.t-r-f {
    text-align: right !important;
}


/* 鼠标指针样式  */

.c-p {
    cursor: pointer;
}

.c-d {
    cursor: default;
}


/* 省略 */

.el-sl {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 字体样式 */
.f12 {
    font-size: 12px !important;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}
.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

.b {
    font-weight: bold;
}

.b-n {
    font-weight: normal;
}


/* 颜色值
 * ===============
 */

.blue {
    color: #ff6b00;
}
.blue-499 {
    color: #4990E2;
}
.blue:hover {
    color: #ff6b00;
}
.gray333 {
    color: #333333 !important;
}
.gray666 {
    color: #666666 !important;
}
.gray999{
    color: #999999 !important;
}
.red-little {
   color: #FF5050 !important; 
}
.orange-ff6 {
    color: #FF6B00 !important;
}
.orange-f09 {
    color: #F09100 !important;
}
.green {
    color: #00B557;
}
/* 背景色 */
.bg-nav {
    background: #2E3137;
}
.bgFAFAFA {
    background: #fafafa !important;
}

.borderDB {
    border: 1px solid #DBDBDB;
}

/* 按钮   
 * ============================================= 
 */

.btn:active,
.btn.active {
    box-shadow: none;
}


/*大尺寸按钮公用*/

.btn-lg {
    font-size: 18px;
    line-height: 60px;
    display: inline-block;
    height: 60px;
    padding: 0 40px;
    border-radius: 4px;
}


/*中尺寸按钮公用*/

.btn-md {
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    padding: 0 25px;
    border-radius: 4px;
}


/*小尺寸按钮公用*/

.btn-sm {
    font-size: 14px;
    line-height: 36px;
    display: inline-block;
    box-sizing: border-box;
    height: 36px;
    padding: 0 20px;
    border-radius: 4px;
}
.btn-height30 {
    height: 30px !important;
    padding: 0 12px !important;
    font-size: 14px !important;
}

.btn-mg {
    font-size: 24px;
    line-height: 50px;
    display: inline-block;
    height: 50px;
    padding: 0 40px;
    border-radius: 6px;
}

/* 蓝色 */

.btn-blue {
    color: #fff !important;
    border: none;
    background: #ff6b00;
}
.btn-blue[disabled],.btn-blue[disabled]:hover {
    background: #999;
}

/* 选中 */

.btn-blue:hover,
.btn-blue:focus,
.btn-blue.hover {
    background: #FF7E20;
}


/* 点击 */

.btn-blue:active,
.btn-blue.active {
    background: #EE6300;
}


/* 白色 */

.btn-white {
    line-height: 34px;
    color: #666 !important;
    border: 1px solid #dbdbdb;
    background: #fff;
}

.btn-white:hover,
.btn-white:focus,
.btn-white.hover {
    color: #ff6b00 !important;
    border: 1px solid #ff6b00;
}

.btn-white:active,
.btn-white.active {
    color: #ff6b00 !important;
    border: 1px solid #ff6b00;
    background: #fff;
}


/* 黑色 */

.btn-black {
    color: #fff !important;
    border: 1px solid #7F7F7F;
    background: #3D3D3D;
}

.btn-black:hover,
.btn-black:focus,
.btn-black.hover {
    color: #fff !important;
    border: 1px solid #7f7f7f;
    background: #595959;
}

/* 禁用色 */

.btn-disabled {
    color: #fff !important;
    border: 1px solid #999;
    background: #999;
}

.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled.hover {
    color: #fff !important;
    border: 1px solid #999;
    background: #999;
}

/* 蓝白色 */


.btn-blue-white {
    line-height: 44px;
    color: #fff !important;
    border: 2px solid rgba(255, 255, 255, .67);
    background: rgba(255, 255, 255, .1);
}

.btn-blue-white:hover,
.btn-blue-white:focus,
.btn-blue-white.hover {
    color: #fff !important;
    background: rgba(255, 255, 255, .3);
}


/* 开关 */

.iosCheck input {
    display: none;
}

.iosCheck i {
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
    transition: all ease .2s;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.iosCheck i:before {
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 20px;
    background: white;
}

.iosCheck input:checked + i {
    padding-right: 0;
    padding-left: 20px;
    background: #ff6b00;
}


/* 日期控件样式重置
 * =====================================
 */
.datetimepicker .active,
.datetimepicker .active:hover,
.datetimepicker .active.disabled,
.datetimepicker .active.disabled:hover {
  background-color: #14adef;
  background-image: linear-gradient(to bottom, #2CD7F9, #14adef);
  background-repeat: repeat-x;
  border-color: #14adef #14adef #2CD7F9;
  color: #fff;
  -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2CD7F9', endColorstr='#14adef', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2CD7F9', endColorstr='#14adef', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datetimepicker .disabled,
.datetimepicker .disabled:hover {
  background: none;
  color: #999;
  cursor: default;
}
/*     loading加载样式
 * =====================================
 */
 #loading-bar .bar {
    background: #14ADEF !important;
}
#loading-bar-spinner .spinner-icon {
    border-top-color:  #14ADEF !important;
    border-left-color: #14ADEF !important;
}
#loading-bar .peg {
    -moz-box-shadow: #14ADEF 1px 0 6px 1px !important;
    -ms-box-shadow: #14ADEF 1px 0 6px 1px !important;
    -webkit-box-shadow: #14ADEF 1px 0 6px 1px !important;
    box-shadow: #14ADEF 1px 0 6px 1px !important;
    opacity: 0.7 !important;
}

/*气泡*/
.toast{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.7);
    border-radius: 4px;
    text-align: center;
    padding: 20px 25px ;
    color: #fff;
    z-index: 99999;
    opacity: 0;
    transition: opacity .3s linear;
    min-width: 100px;
}
.toast i{
    font-size: 30px;
    color: #fff;
}

.toastOut {
  opacity: 0;
}

.toastIn {
  opacity: 1;
}
/* main
 * ====================
 */
 .main{
    min-height: 500px;  
 }
.margin-top30 {
    margin-top: 30px !important;
}
.margin-t-0 {
    margin-top: 0 !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.margin-right-15 {
    margin-right: 15px !important;   
}
.margin-b-20 {
    margin-bottom: 20px !important;   
}
.margin-b-15 {
    margin-bottom: 15px !important;   
}
.padding-top-15 {
     padding-top: 15px !important;   
}
.padding-top-40 {
     padding-top: 40px !important;   
}
.padding-left-0 {
    padding-left: 0 !important;
}
/* 强制换行 */
.change-newline {
    word-break:break-all; 
}

/* 左侧没图标输入框 */
.group-left input.form-control {
    padding: 0 6px !important;
}
.group-left span.input-group-btn {
    line-height: 24px;
}
/* 单行显示... */
.line-show-ellipsis {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/* 旋转 */
.i-arrow-down {
    display: inline-block;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}

.i-rotate {
    display: inline-block;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

/* angular 闪烁问题 */
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],
.ng-cloak,.x-ng-cloak,.ng-hide{
    display:none !important;
}
ng\:form{
    display:block;
}
.ng-animate-start{
    clip:rect(0,auto,auto,0);
    -ms-zoom:1.0001;
}
.ng-animate-active{
    clip:rect(-1px,auto,auto,0);
    -ms-zoom:1;
}

