<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>scope的</title>
	<script src="../js/angular.min.js"></script>
	<script>
		var app = angular.module('app',[]);
		app.controller('firstCtrl',function($scope){
			$scope.names = '熊炬辉';
			$scope.age = '25';
		})
		app.directive("test",function(){
		    return {
		        restrict : "E",
		        template : '<div names="{{names}}"></div>',
		        replace : true,
		        scope : {
		            names : "@"
		        },
		        controller : function($scope){
		            console.log($scope.names);  //"jack"
		            console.log($scope.age);   //age是undefined,因为没有跟mytest进行交互
		        },
		        link : function ($scope) {
		            console.log($scope.names); //"jack"
		            console.log($scope.age);  //age是undefined,因为没有跟mytest进行交互
		        }
		    }
		});
		// = ???
		app.controller('secondCtrl',function($scope){
			$scope.data = {
				name:'童某某',
				sex:'女'
			}
		});
		app.directive("dest",function(){
		    return {
		        restrict : "E",
		        template : '<div data="data">子指令:<input ng-model="data.name" /></div>',
		        replace : true,
		        scope : {
		            data : "="
		        },		        
		        link : function ($scope) {
		            console.log($scope.data); //Object {name: "jack", age: 25}
		        }
		    }
		});
		// & ???
		app.controller('thirdCtrl',function($scope){
			$scope.say = function(){
				alert('今天的你我如何重复昨天的故事！');
			}
		})
		app.directive("demo",function(){
		    return {
		        restrict : "E",
		        template : '<div say="say()">子指令:<a href="javascript:void(0)" ng-click="say()">点击调用父方法</a></div>',
		        replace : true,
		        scope : {
		            say : "&"
		        },
		        controller : function($scope){
		            //$scope.say();  //"jack"
		        },
		        link : function ($scope) {
		            //$scope.say(); //"jack"
		        }
		    }
		});

	</script>
</head>
<body ng-app='app'>
	<div ng-controller='firstCtrl'>
		<test></test>
	</div>

	<div ng-controller="secondCtrl">
	    父：<input type="text" ng-model="data.name" />
	    <dest></dest>
	</div>
	<div ng-controller='thirdCtrl'>
		<demo></demo>
	</div>
</body>
</html>